$symbol-color: #ff9eaf;

a {
  color: black;
  text-decoration: none;
}
a.visited {
  color: black;
  text-decoration: none;
}

#App {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  #Map {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
}
#info {
  z-index: 999;
  background-color: #ffffff;
  width: 340px;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  word-break: keep-all;
  text-align: center;
  img {
    position: absolute;
    left: 50%;
    top: 7.5%;
    transform: translate(-50%, -50%);
    width: 25%;
  }
  .line {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translate(-50%, -50%);
    border: 1px solid $symbol-color;
  }
  .text {
    margin-top: 100px;
    width: 340px;
    position: relative;
    top: 10%;
    #title {
      font-size: 30px;
      text-align: center;
      font-weight: 500;
      margin-bottom: 10px;
    }
    #type,
    #address,
    #number,
    #opentime {
      font-size: 15px;
      text-align: center;
    }
    #opentime {
      .gil {
        a {
          color: #238cfa;
          font-weight: 600;
        }
      }
    }
  }
}
#info-mobile {
  display: none;
}
#logo-mobile {
  display: none;
}
// mobile
@media (max-width: 767px) {
  #App {
    width: 100%;
    max-height: 50%;
    #Map {
      width: 100%;
      max-height: 100%;
    }
  }

  #info {
    display: none;
  }
  #logo-mobile {
    display: block;
    position: absolute;
    z-index: 9999;
    top: 1%;
    left: 1%;
    width: 20%;
  }
  #info-mobile {
    display: block;
    width: 100%;
    background-color: #ffffff;
    min-height: 50%;
    max-height: 50%;
    position: fixed;
    bottom: 0%;
    z-index: 999;
    overflow: scroll;
    text-align: center;
    #title {
      font-size: 30px;
    }
    #opentime {
      .gil {
        a {
          color: #238cfa;
          font-weight: 600;
        }
      }
    }
    #number {
      text-decoration: underline;
    }
  }
}
