#info {
  z-index: 999;
  background-color: #ffffff;
  width: 340px;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  .text {
    margin-top: 55px;
    width: 340px;
    #title {
      font-size: 30px;
      text-align: center;
    }
    #type,
    #address,
    #number {
      font-size: 15px;
      text-align: center;
    }
  }
}
